$color-combinations: #4750F7;
$color-home: #0082FF;
$color-initials: #AB99F9;
$color-finals: #EF8686;

$color-blue-light: #91BCF6;
$color-purple-dark: #6900FF;
$color-red: #FF4B55;


@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
$font-body: 'Lato', sans-serif;

$mq-phone: 400px !default;
$mq-phablet: 630px !default;
$mq-tablet: 760px !default;
$mq-desktop: 1133px !default;
$mq-desktop-large: 1300px !default;

@mixin media-phone {
  @media (min-width : $mq-phone) {
    @content;
  }
}

@mixin media-phablet {
  @media (min-width : $mq-phablet) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width : $mq-tablet) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width : $mq-desktop) {
    @content;
  }
}

@mixin media-desktop-large {
  @media (min-width : $mq-desktop-large) {
    @content;
  }
}

@mixin corner($width) {
  width: $width;
  height: $width;
  border-top: 2px solid white;
  border-left: 2px solid white;
  //position: absolute;

  //width: $height;
  //
  //span {
  //  height: $width;
  //  background-color: white;
  //  display: block;
  //
  //  &:first-child {
  //    width: $height;
  //  }
  //
  //  &:last-child {
  //    height: $height - $width;
  //    width: $width;
  //  }
  //
  //}
}