@import "settings";

.About {
  background-color: $color-combinations;
  height: 100%;

  .innerRectangle {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    top: 5%;
    position: relative;

    @include media-tablet {
      height: 80%;
      width: 80%;
      top: 10%;
    }
  }

  .corner {
    @include corner(30px);
    position: absolute;
  }

  .header, .footer {

    padding: 10px;

    @include media-tablet {
      padding: 20px;
    }

    width: 100%;
    position: absolute;
  }

  .footer {
    position: absolute;
    bottom: 0;

    @include media-tablet {
      text-align: right;
    }

    .description {
      @include media-tablet {
        text-align: right;
      }
    }
  }

  .description {
    font-weight: 300;
    max-width: 300px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;

    @include media-tablet {
      font-size: 19px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  .main {

    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;

    div {
      display: inline-block;
      margin-right: 20px;
      margin-left: 20px;
      background-repeat: no-repeat;
      background-size: contain;

      width: 50px;
      height: 100px;

      @include media-tablet {
        width: 100px;
        height: 233px;
      }

      @include media-desktop {
        width: 136px;
        height: 233px;
      }

    }

    .tone-1 {
      background-image: url('images/tone-1.svg');
    }

    .tone-2 {
      background-image: url('images/tone-2.svg');
    }

    .tone-3 {
      background-image: url('images/tone-3.svg');
    }

    .tone-4 {
      background-image: url('images/tone-4.svg');
    }

    .tone-5 {
      background-image: url('images/tone-5.svg');
    }
  }

}