@import "settings";

html, body, .container {
  height: 100%;
  -webkit-appearance: none;
  background: #ccc;
      background: $color-combinations;

}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.App {
  height: 100%;
}

.swirl {
  background: url('images/Swirl.svg');
  width: 87px;
  height: 18px;
}

// Remove browser native select indicators
:focus {
  outline-color: transparent;
  outline-style: none;
}

*::-moz-selection
{
  background-color:transparent;
}
*
{
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  /*IE10*/
  -ms-user-select: none;
  user-select: none;

  /*You just need this if you are only concerned with android and not desktop browsers.*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}