@import 'settings';

.AudioController {
  // height: 100%;
  width: 100%;
  // overflow: auto;
  // position: fixed;
    overflow: hidden;
    min-height: 100vh;

  // State playing audio
  &.playing {
    .info .audioInfo {
      display: none;

      @include media-desktop-large {
        display: inline-block;
      }
    }

    .info .listInfo {
      display: inline-block;
      
      @include media-desktop-large {
        display: none;
      }
    }
  }

  // List and Audio info container
  .info {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    

    @include media-tablet {
      margin-top: 150px;
    }

    @include media-desktop-large {
      margin: 0;
      width: 50%;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
    }

    .listInfo, .audioInfo {
      width: 310px;
      margin-left: 10px;
      margin-right: 10px;

      @include media-tablet {
        width: 330px;
      }

      @include media-desktop-large {
        width: 40%;
      }

      text-align: left;
      display: inline-block;
    }

    .listInfo {
      h3 {
        font-size: 35px;
      }

      p {
        line-height: 35px;
      }
    }

    .audioInfo {
      text-align: center;

      label {
        $size: 160px;
        display: inline-block;
        width: $size;
        height: $size;
        line-height: $size;

        font-size: $size / 3;

        border-radius: 50%;
        border: 4px solid white;
        text-align: center;
      }
    }

  }

  // What is PinYin button
  .whatIsPinYin {

    position: fixed;
    top: 40px;
    left: 50px;

    display: none;

    @include media-tablet {
      display: block;
    }

    .corner {
      @include corner(30px);
      position: absolute;
    }

    a {
      color: white;
      text-decoration: none;
      position: absolute;
      top: 20px;
      left: 30px;
      width: 60px;

      &:hover {
        text-decoration: underline;
      }
    }

    .swirl {
      transform: rotate(-45deg) scale(0.8,0.8);
      top: 60px;
      left: 60px;
      position: absolute;
    }

  }

  .Combinations & {
    // background: $color-combinations;
  }

  .Initials & {
    background: $color-initials;
  }

  .Finals & {
    background: $color-finals;
  }
}