@import "settings";

.AudioPlayer {

  .audioInfo {
    text-align: center;

    label {
      $size: 160px;
      display: inline-block;
      width: $size;
      height: $size;
      line-height: $size;

      font-size: $size / 3;

      border-radius: 50%;
      border: 4px solid white;
      text-align: center;
    }
  }

}