@import 'settings';

.Home {
  background: $color-home;
  height: 100%;
  width: 100%;

  // Desciption bottom
  .description {
    position: absolute;
    bottom: 120px;
    width: 100%;
    line-height: 35px;

    display: none;

    @include media-tablet {
      display: block;
    }

    .center {
      width: 45%;
      margin: 0 auto;
      text-align: left;
    }
  }

  // PIN YIN
  .center {
    text-align: center;
    height: 100%;
    overflow: hidden;
  }

  .letters {

    $height: 245px;
    $width: 430px;

    height: $height;
    width: $width;

    left: 50%;
    margin-left: -215px;
    position: relative;
    top: 50%;
    transform: translateY(-20%) scale(0.6, 0.6);

    @include media-desktop {
      $width: 946px;
      width: $width;
    }

    @include media-tablet {
      transform: translateY(-50%);
      margin: 0 auto;
      left: 0;
    }

    .menuButton {
      transform: scale(1.2,1.2);

      @include media-tablet {
        transform: none;
      }
    }

    .letter {
      height: 290px;
      position: absolute;
      background-repeat: no-repeat;
    }

    .p {
      background-image: url('images/P.svg');
      width: 156px;

      .dotsAndLine {
        left: -22px;
      }
    }

    .i {
      background-image: url('images/I.svg');
      width: 40px;

      .rooftop {
        position: absolute;
        top: -40px;
        left: -45px;
        width: 130px;
        height: 16px;
        background: white;

        .dotsAndLine {
          left: 28px;
        }
      }
    }

    .n {
      background-image: url('images/N.svg');
      width: 148px;
    }

    .y {
      background-image: url('images/Y.svg');
      width: 174px;
    }


    .pin {

      .i {
         left: 188px;
       }

      .n {
        left: 280px;
      }

    }

    .yin {

      display: none;

      @include media-desktop {
        display: block;
      }

      .y {
        left: 508px;
      }

      .i {
        left: 709px;
      }

      .n {
        left: 795px;
      }

    }

  }

  .dotsAndLine, .footerDots {
    span {
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $color-blue-light;
      margin: 0 auto;
      margin-bottom: 3px;

      &:last-child {
        margin-top: 10px;
        width: 25px;
        height: 25px;
      }
    }
  }

  // TOP DOTS
  .dotsAndLine {

    text-align: center;
    position: absolute;
    left: -15px;

    height: 300px;
    top: -280px;

    .inner {
      position: absolute;
      bottom: 5px;
    }

    .menuButton {
      margin-bottom: -10px;

      &:hover, &.hover {
        margin-bottom: 10px;
      }
    }

    &.purple {
      span {
        background-color: $color-red;

        &:last-child {
          background-color: $color-purple-dark;
        }
      }
    }

  }

  // FOOTER DOTS
  .footerDots {

    position: absolute;
    bottom: 0;
    height: 110px;
    width: 240px;
    text-align: center;

    .menuButton {
      z-index: 3;
      position: absolute;
      left: 50%;
      margin-left: -35px;

      &:hover, &.hover {
        margin-top: 20px;
      }
    }

    .bigDot {
      float: left;
    }

    span {
      display: inline-block;
      margin-right: 2px;
      margin-left: 2px;
      margin-top: 8px;

      &:last-child {
        position: absolute;
        left:5px;
        top: -35px;
      }

    }

    &.red {
      span {
        background-color: $color-red;
      }
    }

  }

}

// Animation
.dotsAndLine .inner {

  $move: 3px;

  left: $move;

  span {
    position: relative;
    left: -$move;
  }

  &:hover {
    span {
      animation: dots-move 0.3s infinite; /* IE 10+, Fx 29+ */
      animation-timing-function: ease-in-out;
      //animation-iteration-count: 2;
      animation-direction: alternate;

      &:nth-child(odd) {
        animation-delay: 0.3s;
      }

      &:nth-child(1) {
        animation-delay: 0.1s;
      }

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.3s;
      }

      &:nth-child(4) {
        animation-delay: 0.4s;
      }

      &:nth-child(5) {
        animation-delay: 0.5s;
      }

      &:nth-child(6) {
        animation-delay: 0.6s;
      }

      &:nth-child(7) {
        animation-delay: 0.7s;
      }

      &:nth-child(8) {
        animation-delay: 0.8s;
      }

      &:nth-child(9) {
        animation-delay: 0.9s;
      }

      &:nth-child(10) {
        animation-delay: 1s;
      }

      &:last-child {
        animation: none;
      }
    }
  }

  @keyframes dots-move {
    0%   { left: -$move; }
    100%   { left: $move; }
  }


}




.footerDots {

  $move: 3px;

  bottom: $move;

  span {
    transition: 0.2s;
    position: relative;
    top: -$move;
  }

  &:hover {
    span {
      animation: dots-move-vertical 0.8s infinite; /* IE 10+, Fx 29+ */
      animation-timing-function: ease-in-out;

      &:nth-child(odd) {
        animation-delay: 0.1s;
      }

      &:last-child {
        animation: none;
      }

    }
  }

  @keyframes dots-move-vertical {
    0%   { top: -$move; }
    50%   { top: $move; }
    100% { top: -$move; }
  }

}

