@import "settings";

.List {

  $width: 380px;
  overflow: hidden;

  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;

  @include media-tablet {
    width: $width;
    margin-top: 100px;
  }

  @include media-desktop-large {
    position: relative;
    right: 0;
    marging-top: 200px;
    width: 50%;
    text-align: left;
    left: 50%;
    margin-left: 0;
  }

  .inner-list {
    display: inline-block;
    width: $width;
  }

  .menu-spacer {
    position: fixed;
    width: $width;
    height: 58px;
    display: none;
    top: 0;

    @include media-tablet {
      display: none;
    }
  }

  padding-bottom: 80px;

}

.Combinations .List {

  .menu-spacer {
    background-color: $color-combinations;
  }

  .list-switch {
    background-color: $color-combinations;
  }

}

.Finals .List {

  .menu-spacer {
    background-color: $color-finals;
  }


  .list-switch {
    background-color: $color-finals;
  }
}

.Initials .List {

  .menu-spacer {
    background-color: $color-combinations;
  }

  .list-switch {
    background-color: $color-combinations;
  }

}