@import "settings";

.ListRow {

  @include media-tablet {

    // opacity: 0.5;

    // &.leave {
    //   opacity: 0.05;
    // }

    // &.leave + .ListRow.enter, &.enter + .ListRow.leave {
    //   opacity: 0.3;
    // }

    // &.enter {
    //   opacity: 1;
    // }

  }


}