@import "settings";

.ListSwitch {
  $height: 50px;

  width: 100%;
  position: fixed;
  height: $height;
  top: 0;
  z-index: 33;

  @include media-tablet {
    display: none;
  }

  label {
    float: left;
    line-height: $height;
    margin-left: 10px;
  }

  .switch {
    float: right;
    padding-right: 10px;
    padding-top: 12px;

    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: white;
      display: inline-block;
      margin-left: 8px;
      line-height: 0;

      &:first-child {
        display: block;
        margin-left: 16px;
      }
    }
  }

}


.Combinations {
  .ListSwitch {
    background-color: $color-combinations;
  }
}

.Finals {
  .ListSwitch {
    background-color: $color-finals;
  }
}

.Initials {
  .ListSwitch {
    background-color: $color-initials;
  }
}