@import "settings";

.ListIndicator {
    display: none;

    .Combinations & {
        display: block;
    }

    $size: 100px;
    position: fixed;
    width: $size;
    height: $size;
    background: $color-combinations;
    color: #fff;
    font-size:24px;
    z-index: 999;
    bottom: -$size / 2;
    bottom: 50%;
    margin-bottom: -$size / 2;
    left: 50%;
    line-height: $size;
    margin-left:-$size / 2;
    border-radius: 50%;
    text-align: center;
    pointer-events: none;
    will-change: contents;
    opacity: 0;
    transition: opacity 0.2s;

    &[data-show="show"] {
        transition: opacity 0s;
        opacity: 1;
    }

    @include media-tablet {
        left: initial;
        right: 10px;
    }

}

@keyframes showIndicator {
    0%   { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}