@import "settings";

.Menu {
  position: fixed;
  right: 60px;
  top: 20px;
  z-index: 3;
  transition: 0.2s;
  display: none;

  @include media-tablet {
    display: block;
  }

  &:hover {
    top: 30px;
  }

}

.menuButton {
  $width: 70px;

  display: inline-block;
  width: $width;
  height: $width;
  line-height: $width;
  text-align: center;
  //border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 18px;
  transition: 0.2s;
  border: 2px solid transparent;

  &:hover, &.hover {
    border: 2px solid white;
  }
}