@import 'settings';

.AudioController .SoundButton {

  $size: 60px;

  width: $size;
  height: $size;
  line-height: $size;
  font-size: 18px;

  @include media-phone {
    $size: 70px;

    width: $size;
    height: $size;
    line-height: $size;
    font-size: 20px;
  }

  text-align: center;

  display: inline-block;

  border-radius: 50%;
  background-color: white;

  border-width: 2px;
  border-style: solid;
  transition: background-color 0s;

  cursor: pointer;
  -webkit-appearance: none;

  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 8px;

  @include media-tablet {
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 14px;
  }

  &:hover, &.active {
    border-color: white;
    color: white;
  }

}

.Combinations {

  .SoundButton {
    color: $color-combinations;
    border-color: $color-combinations;

    &:hover, &.active {
      background-color: $color-combinations;
    }
  }

}

.Initials {

  .SoundButton {
    color: $color-initials;
    border-color: $color-initials;

    &:hover, &.active {
      background-color: $color-initials;
    }
  }

}

.Finals {

  .SoundButton {
    color: $color-finals;
    border-color: $color-finals;

    &:hover, &.active {
      background-color: $color-finals;
    }
  }

}